*.iml
.gradle
.idea
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
app/release
app/debug
app/src/main/java/com/lucas/soccerchallenge/features/fixture/adapter/FixtureAdapter\.kt

app/src/main/java/com/lucas/soccerchallenge/features/fixture/adapter/MatchFixtureViewHolder\.kt

app/src/main/java/com/lucas/soccerchallenge/features/fixture/FixtureFragment\.kt

app/src/main/java/com/lucas/soccerchallenge/features/fixture/FixtureViewModel\.kt

app/src/main/java/com/lucas/soccerchallenge/features/MainActivity\.kt

app/src/main/java/com/lucas/soccerchallenge/features/MainViewModel\.kt

app/src/main/java/com/lucas/soccerchallenge/features/results/adapter/MatchResultViewHolder\.kt

app/src/main/java/com/lucas/soccerchallenge/features/results/adapter/ResultsAdapter\.kt

app/src/main/java/com/lucas/soccerchallenge/features/results/ResultsFragment\.kt

app/src/main/java/com/lucas/soccerchallenge/features/results/ResultsViewModel\.kt
